<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-eaten="{{devoured}}">
		{{#if devour}}Devoured!{{else}}Try it Out!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Devoured!</button>
</li>